*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.wrapper {
    background: #0c141a;
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    padding: 1em;
}

.logo {
    display: inline-block;
    padding: 0.25em;
    flex-grow: 1;
    font-size: 30px;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btns {
    display: flex;
    gap: 2em;
    padding: 0.25em;
}

.btn {
    background: transparent;
    color: white;
    font-family: 'Space Grotesk';
    font-size: 14px;
    border-width: inherit;
    position: relative;
}

.btn::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.1em;
    background-color: #da435a;
    left: 0;
    bottom: 0;
    transform: scale(0, 1);
}

.btn:focus,
.btn:hover::after,
.btn:hover {
    outline: 0;
    cursor: pointer;
    color: #da435a;
    transform: scale(1, 1);
    transition: transform 0.4s ease;
}

section {
    padding: 1em;
}

.btn-up {
    bottom: 2em;
    margin-bottom: 4em;
    position: fixed;
    right: 2px;
    transform: rotate(-90deg);
}

#go-up-btn {
    background-color: transparent;
    border-color: transparent;
    color: #f0f8ff;
    cursor: pointer;
    font-size: 13px;
    transition: transform 0.3s ease;
}

.go-up-span {
    cursor: pointer;
    font-size: 12px;
    opacity: .4;
    letter-spacing: 1px;
}

.go-up-span:hover {
    opacity: 0.5;
    text-shadow: 0 0 white;
    transition: opacity 0.3s ease;
}

#go-up-btn:hover {
    transform: translateX(10px);
}

span {
    font-size: 25px;
}

#prj-1 {
    display: inline-flex;
    color: white;
    content: '';
    width: 100px;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: #f0f;
    border-radius: 10px;
}